.popup__input {
    margin: 0 0 14px 0;
    border: none;
    border-bottom: 1px solid #00000020;
    font-size: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    line-height: 17px;
    width: 100%;
    outline: 0;
    outline-offset: 0;
    padding: 13px 0 13px 0;
}

.popup__input:nth-child(2) {
    margin: 0;
}