.profile {
  margin: 0 0 44px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile {
    max-width: 100%;
    /*min-height: 286px;*/
    flex-direction: column;
    margin: 0 0 35px 0;
  }
}