.conteiner {
    margin: 45px auto 60px;
    max-width: 880px;
}

@media (min-width: 426px) and (max-width: 1024px) {
    .conteiner {
        margin: 45px 60px;

    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .conteiner {
        max-width: 425px;
        margin: 0 auto 36px;
    }
}