.card__footer {
    box-sizing: border-box;
    padding: 26px 20px;
    display: flex;
    justify-content: space-between;

}

@media (min-width: 320px) and (max-width: 767px) {
    .card__footer {
        padding: 25px 20px;
    }
}