.profile__info {
  display: flex;
  flex-direction: row;
  /*margin: 0 0 0 30px;*/
  /*flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;*/
}

@media (min-width: 320px) and (max-width: 1023px) {
  .profile__info {
    margin: 25px auto 0;
    min-width: 282px;
  }
}