.popup__title {
    font-size: 24px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0 0 28px 0;
    font-weight: 900;
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        white-space: nowrap;
        margin: 0 0 62px 0;
    }
}